.theme {
    display: flex;
    justify-content: end;
}

.toggle .check {
    opacity: 0;
    width: 0;
    height: 0;
    background-color: #f5f5f5;
}

.slider {
    position: absolute;
    background-color: #ccc;
    cursor: pointer;
    width: 60px;
    height: 5px;
    border-radius: 30px;
    transition: .4s;
    border: 1px solid black;
    right: 40px;
    top: 40px;
    display: flex;
    align-items: center;
}

.slider:before {
    content: url("../../../assets/images/light-theme.png");
    position: absolute;
    top: -18px;
    left: 6px;
    -webkit-transition: .4s;
    transition: .4s;
}

.check + .slider {
    background-color: #f5f5f5;  
}

.check:checked + .slider {
    background-color: #546A79;
}

.check:checked + .slider:before {
    left: -5px;
}

.check:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
    content: url("../../../assets/images/dark-theme.png");
}

@media (max-width: 750px) {
    .slider  {
        right: 15px;
        top: 28px;
    } 
}
  
