h1{
    padding-top: 100px;
    text-align: center;
    font-family: 'Bear';
}

.content{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    flex-wrap: wrap;
    margin: 0px auto;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    transition: 0.3s;
    width: 20%;
    padding: 2px 2px 2px 2px;
    cursor: pointer;
    background-color: whitesmoke;
    margin-top: 10px;
    flex: 0 1 30%;
}

.card > img {
    margin-top: 10px;
    width: 100%;
}

.card > h3{
    font-family: 'CodePro';
    text-align: center;
}

.card > p{
    font-family: 'CodeLight';
    text-align: center;
}

.card:hover{
    box-shadow: 1px 1px 20px #cccc inset;
    transform: scale(1.05,1.05);
}


.links{
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
}

i{
    font-size: 40px;
    color: #595d5f;
    margin-right: 10px;
    margin-bottom: 0px;
}

i:hover {
    color: #476a84;
}

@media (max-width: 970px) {
    .content{
        width: 90%;
    }
}

@media (max-width: 760px) {
    .content{
        flex-direction: column;
    }

    .card{
        width: 100%;
    }
}