body {
    background-color: #333;
}

.profile-photo{
    width: 200px;
    border-radius: 50px;
    border: 10px solid #E2E4E9;
}

.name {
    font-family: 'Bear';
    font-size: 55px;
    margin-bottom: 0;
    color: #E2E4E9;
}

.role {
    font-family: 'CodePro';
    margin-top: 0;
    color: #E2E4E9;
}

.description {
    margin: 50px auto;
    width: 50%;
    background-color: ghostwhite;
    font-family: 'CodeLight';
    padding: 30px;
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid white;
}

.section-title {
    color: #E2E4E9;
}

.social {
    border: 10px solid #E2E4E9;
}

.path {
    fill: #E2E4E9;
    fill-opacity: 1;
}
