<div class="skills">
    <h1 class="section-title">Skills</h1>

    <section class="section">
        <div class="topic">
            <h1 class="section-title skill">Frontend</h1>
            <div *ngFor="let front of skillsFrontend" class="bar">    
                <h3 class="skill-title">{{front.name}}</h3>
                <div class="progress progress-moved">
                    <div class="progress-bar" [ngStyle]="{'width': front.progress}">
                        <small class="progress-value">{{front.progress}}</small>
                    </div>                       
                </div> 
            </div>
        </div>
    
        <div class="topic">
            <h1 class="section-title skill">Backend</h1>
            <div *ngFor="let back of skillsBackend" class="bar">    
                <h3 class="skill-title">{{back.name}}</h3>
                <div class="progress progress-moved">
                    <div class="progress-bar" [ngStyle]="{'width': back.progress}">
                        <small class="progress-value">{{back.progress}}</small>
                    </div>                       
                </div> 
            </div>
        </div>

        <div class="topic">
            <h1 class="section-title skill">Others</h1>
            <div *ngFor="let other of othersSkills" class="bar">    
                <h3 class="skill-title">{{other.name}}</h3>
                <div class="progress progress-moved">
                    <div class="progress-bar" [ngStyle]="{'width': other.progress}">
                        <small class="progress-value">{{other.progress}}</small>
                    </div>                       
                </div> 
            </div>
        </div>
    </section>
</div>