@import '../../../styles/colors';
@import '../../../styles/breaks';

.skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
    .section-title {
        font-family: 'Bear';
    }

    .skill {
        color: $indigo-medium;
    }

    .section {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;

        .topic {
            .bar {
                margin: 30px 10px;
                width: 300px;
                text-align: center;

                .skill-title {
                    font-family: 'Bear';
                    text-align: left;
                }
        
                .progress {
                    padding: 6px;
                    border-radius: 30px;
                    background: $indigo-light;  
                    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
                }
                    
                .progress-bar {
                    height: 18px;
                    border-radius: 30px;   

                    .progress-value {
                        font-family: 'Bear';
                        color: white;
                    }
                }
                    
                .progress-moved .progress-bar {
                    background-color: $indigo-medium;  
                }
            }      
        }
    }
}

@media (max-width: $small) {
    .skills {
        .section {
            .topic {
                .bar {
                    width: 260px;
                }
            }
        }
    }
}