<div class="experience">
    <h1 class="section-title">Work experience 🧑‍💻</h1>
    <div class="container">
        <div class="content">
            <ul class="list">
                <li class="place" *ngFor="let work of works" (click)="goToPage(work.link)">
                    <h1>
                        {{work.workPlace}} 
                        <small> from {{work.from}}</small>
                        <small *ngIf="work.to !== null"> to {{work.to}}</small>
                    </h1>
                    <h3>{{work.roleName}}</h3>
                    <h3>{{work.description}}</h3>
                </li>
            </ul>
        </div>
        <img loading="lazy" src="../../../../assets/images/work-experience.png" alt="work-experience">
    </div>
</div>
