@import '../../../styles/colors';
@import '../../../styles/breaks';

.experience {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;

    .section-title {
        font-family: 'Bear';
    }
    
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        .content {

            .place {
                cursor: pointer;
                border-radius: 10px;
                padding: 10px 30px;
                background-color: ghostwhite;
                margin-bottom: 5px;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                transition: all 300ms;

                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                    background-color: $indigo-dark;
                    color: white;
                }
            }

            h1 {
                font-family: 'Bear';

                small {
                    font-size: 20px;
                }
            }
        }
    }
}

ul {
    list-style: none;
}


h3{
    font-family: 'CodePro';
}

small{
    font-family: 'CodeLight';
}

img {
    max-height: 500px;
    filter: drop-shadow(2px 5px 2px rgba(0, 0, 0, 0.3))
}

@media (max-width: $x-big) {
    .experience {
        height: auto;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    img {
        width: 200px;
    }
}

@media (max-width: $big) {
    .experience {
        .container {
            flex-direction: column;
            .content {
                .list {
                    padding-left: 0;
                }
            }
        }
    }   
}
