<div class="about">
  <h1 class="section-title">About</h1>
  <div class="presentation">
      <img 
        class="profile-photo" 
        src="../../../../assets/images/1627176837291.jpg" 
        alt="andres-alcaraz"
        loading="lazy"
        >
      <article class="description">
        {{ aboutMe }}
      </article>
  </div>
  <div class="properties">
    <div class="property">
      <h3><strong class="front">Front</strong>end</h3>
      <p class="description">Web application designer. Creative solutions and implementations.</p>
    </div>
    <div class="property">
      <h3><strong class="back">Back</strong>end</h3>
      <p class="description">Database manager, micro-services and API developer.</p>
    </div>
    <div class="property">
      <h3>Team + work</h3>
      <p class="description">Knowledge of version control systems, CI/CD. Good communication with teammates.</p>
    </div>
  </div>
</div>
