@import '../../../styles/colors';
@import '../../../styles/breaks';

:root {
  --doc-height: 100%;
}

.intro {
    background-color: $indigo-dark;
    height: 100vh;
    height: var(--doc-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .title, .subtitle {
        color: $indigo-light;
        margin: 0 auto;
        font-family: 'Bear';
        font-size: 55px;
        margin-bottom: 0;

        .me-name {
            color: $indigo-medium;
        }
    }

    .button-explore {
        margin-top: 10px;
        border: 2px solid $indigo-medium;
        color: $indigo-medium;
        font-family: 'Bear';
        font-size: 20px;
        border-radius: 8px;
        background-color: transparent;
        padding: 15px 30px 15px 30px;
        transition: all 300ms;

        &:hover {
            cursor: pointer;
            background-color: $indigo-light;
            border: 2px solid $indigo-light;
        }
    }
}

@media (max-width: $medium) {
    .intro {
        .title, .subtitle {
            font-size: 40px;
        }
    }
}

@media (max-width: $small) {
    .intro {
        .title, .subtitle {
            font-size: 25px;
        }
    }
}
