/* You can add global styles to this file, and also import other style files */
/* html{
    background: url('./assets/SVG/AnimatedShape.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

@font-face {
    font-family: 'Bear';
    src: url('./assets/FontFamilies/FjallaOne-Regular.ttf');
}

@font-face {
    font-family: 'CodePro';
    src: url('./assets/FontFamilies/SourceCodePro-Black.ttf');
}

@font-face {
    font-family: 'CodeLight';
    src: url('./assets/FontFamilies/SourceCodePro-Regular.ttf');
}

.spinner {
    animation: spin 2s infinite linear;
    display: flex;
    margin: 80px auto;
    width: 300px;
}
  
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
