.section-title {
    font-family: 'Bear';
    text-align: center;
    margin-top: 100px;
}

.list {

    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    flex-wrap: wrap;
    width: 60%;

    .social-pic {
        transition: all 300ms;
        margin-bottom: 10px;
        width: 50px;
        filter: drop-shadow(
            2px 2px 1px gray
        );

        &:hover {
            cursor: pointer;
            transform: scale(1.2, 1.2);
        }
    }
}
